body {display: flex;
justify-content: flex-end;}


.leftside {width: 50%;
background-color: #f2f2f2;
padding: 20px;
box-sizing: border-box;}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.2;
    font-family: 'Trebuchet MS', 'Helvetica',sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
em {color: #666;
font-style: italic;}

.form section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form article {
    flex-basis: 45%;
    margin: 20px;
}
  
  .form article label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form article input[type="text"],
  .form article input[type="email"],
  .form article input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .rightside img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .rightside {
    position: relative;
  }
  .image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Helvetica',sans-serif ;
  }
  .form .infobox .mismatch-text {
    color: red;
  }

  #submit-form {
    background-color: #007bff; /* blue background color */
    color: #fff; /* white text color */
    padding: 12px 24px; /* add some padding for better usability */
    border: none; /* remove default border */
    border-radius: 8px; /* add some rounded corners for a modern look */
    font-size: 16px; /* make text larger for better readability */
    font-weight: bold; /* make text bold for better contrast */
    cursor: pointer; /* change cursor to a pointing hand on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* add a subtle box shadow */
    transition: background-color 0.2s ease-in-out; /* add transition effect */
  }

  #submit-form:hover {
    background-color: #0069d9; /* darker blue background color on hover */
  }
  
  #submit-form:active {
    background-color: #0069d9; /* darker blue background color on active */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* add a subtle box shadow on active */
    transform: translateY(2px); /* add a subtle press effect on active */
  }