body {display: flex;
justify-content: flex-end;}


.leftside {width: 50%;
background-color: #f2f2f2;
padding: 20px;
box-sizing: border-box;}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.2;
    font-family: 'Trebuchet MS', 'Helvetica',sans-serif ;
}
em {color: #666;
font-style: italic;}