body {display: flex;
justify-content: flex-end;}


.leftside {width: 50%;
background-color: #f2f2f2;
padding: 20px;
box-sizing: border-box;}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.2;
    font-family: 'Trebuchet MS', 'Helvetica',sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
em {color: #666;
font-style: italic;}

.form section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form article {
    flex-basis: 45%;
    margin: 20px;
}
.form article {
    flex-basis: 45%;
    margin: 20px;
  }
  
  .form article label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form article input[type="text"],
  .form article input[type="email"],
  .form article input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  .rightside img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
  }